<head>
  <title>Todo List</title>
  <meta charset="utf-8"/>
  <meta
          name="viewport"
          content="width=device-width, height=device-height, viewport-fit=cover, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
  />
</head>