<body>
    {{> mainContainer}}
</body>

<template name="mainContainer">
    <div class="app">
        <header>
            <div class="app-bar">
                <div class="app-header">
                    <h1>To Do List {{incompleteTasksCount}}</h1>
                </div>
            </div>
        </header>

        <div class="main">
            {{#if isUserLogged}}
                <div class="user" title="Click to logout">
                    <span>
                        {{getUser.username}}
                    </span>
                    <button class="logout">Logout</button>
                </div>

                {{> form }}

                <div class="filter">
                    <button id="hide-completed-button">
                        {{#if hideCompleted}}
                        Show All
                        {{else}}
                        Hide Completed
                        {{/if}}
                    </button>
                </div>

                {{#if isLoading}}
                    <div class="loading">loading...</div>
                {{/if}}
                
                <ul class="tasks">
                    {{#each tasks}}
                    {{> task}}
                    {{/each}}
                </ul>
            {{else}}
                {{> login}}
            {{/if}}
        </div>
    </div>
</template>

<template name="form">
    <form class="task-form">
        <input type="text" name="text" placeholder="Type new task..." />
        <button type="submit">Add task</button>
    </form>
</template>