<template name="login">
    <form class="login-form">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" required placeholder="Username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required placeholder="Password" />
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>
</template>