<template name="task">
    <li>
        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
        <span>{{text}}</span> 
        <button class="delete">&times;</button>
    </li>
</template>